<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur5_workcell_description)/urdf/ur5_tooling.xacro"/>
  <xacro:include filename="$(find realsense_l515_description)/urdf/realsense_l515.xacro"/>
  <xacro:include filename="$(find xela_usp44_description)/urdf/xela_usp44.xacro"/>

  <xacro:macro name="ur5_workcell" params="
    name
    parent
    tf_prefix
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    safety_limits:=false
    safety_pos_margin:=0.15
    safety_k_position:=20
    force_abs_paths:=false
    include_camera:=true
    include_tactile_sensor:=true
    include_cable_plugs:=true
    articulated_gripper:=true
    grasp_tcp_xyz:='-0.05091168824543142 0.05091168824543142 0.275'
    grasp_tcp_rpy:='0 0 -0.7853981633974483'
    *origin">

    <xacro:ur_robot
      name="${name}"
      tf_prefix="${tf_prefix}"
      parent="${parent}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      safety_limits="${safety_limits}"
      safety_pos_margin="${safety_pos_margin}"
      safety_k_position="${safety_k_position}"
      force_abs_paths="${force_abs_paths}">
      <xacro:insert_block name="origin"/>
    </xacro:ur_robot>

    <xacro:ur5_workcell_tooling
      tool0="${tf_prefix}tool0"
      prefix="${tf_prefix}"
      include_cable_plugs="${include_cable_plugs}"
      articulated_gripper="${articulated_gripper}"/>

    <!-- Basic/open tactile outer edge, offset outward by half its thickness. -->
    <link name="${tf_prefix}grasp_tcp"/>
    <joint name="${tf_prefix}grasp_tcp_joint" type="fixed">
      <parent link="${tf_prefix}tool0"/>
      <child link="${tf_prefix}grasp_tcp"/>
      <origin xyz="${grasp_tcp_xyz}" rpy="${grasp_tcp_rpy}"/>
    </joint>

    <xacro:if value="${include_camera}">
      <!--
        Derived from the 2026-07-24 tool0-to-color-optical calibration and
        this L515's camera_link-to-color-optical transform. See
        config/camera_extrinsics.yaml for the source matrix and provenance.
      -->
      <xacro:realsense_l515 parent="${tf_prefix}tool0" prefix="${tf_prefix}">
        <origin xyz="0.097251011716225577 0.097331529561805699 0.088253015212700736"
                rpy="-0.021097885222406337 -1.1596787337810714 -2.329617429300598"/>
      </xacro:realsense_l515>
    </xacro:if>

    <xacro:if value="${include_tactile_sensor}">
      <!--
        The legacy fixed model placed this sensor in tool0 coordinates. The
        equivalent Finger A distal-link transform preserves that open-pose
        placement while making the sensor follow the articulated fingertip.
      -->
      <xacro:xela_usp44 parent="${tf_prefix}AGS_finger-dist002" prefix="${tf_prefix}">
        <origin xyz="0 -0.01117 0.02588"
                rpy="1.5707963267948966 0 0"/>
      </xacro:xela_usp44>
    </xacro:if>
  </xacro:macro>
</robot>
