<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotiq_ft300s_description)/urdf/robotiq_ft300s.xacro"/>
  <xacro:include filename="$(find robotiq_3f_description)/urdf/robotiq_3f.xacro"/>

  <xacro:macro name="ur5_workcell_tooling"
               params="tool0 prefix:='' include_cable_plugs:=true articulated_gripper:=true">
    <xacro:robotiq_ft300s parent="${tool0}" prefix="${prefix}">
      <origin xyz="0 0 0.0067" rpy="0 0 0"/>
    </xacro:robotiq_ft300s>

    <link name="${prefix}gripper_coupler">
      <visual>
        <geometry><cylinder radius="0.04" length="0.017"/></geometry>
        <material name="Robotiq-Grey"><color rgba="0.4 0.4 0.4 1.0"/></material>
      </visual>
      <collision>
        <geometry><cylinder radius="0.04" length="0.017"/></geometry>
      </collision>
    </link>
    <joint name="${prefix}ft_sensor_to_gripper_coupler_joint" type="fixed">
      <parent link="${prefix}ft300_sensor"/>
      <child link="${prefix}gripper_coupler"/>
      <origin xyz="0 0 -0.0085" rpy="3.141592653589793 0 0"/>
    </joint>

    <xacro:robotiq_3f_gripper
      parent="${prefix}gripper_coupler"
      prefix="${prefix}"
      include_cable_plugs="${include_cable_plugs}"
      articulated="${articulated_gripper}">
      <origin xyz="0 0 0.0127" rpy="1.5707963267948966 0 -0.7853981633974483"/>
    </xacro:robotiq_3f_gripper>
  </xacro:macro>
</robot>
