<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5_workcell">
  <!-- Mechanical-description arguments expected by ur_robot_driver/ur_rsp.launch.py. -->
  <xacro:arg name="name" default="ur5"/>
  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params"
    default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params"
    default="$(find ur5_workcell_description)/config/ur5_calibration.yaml"/>
  <xacro:arg name="physical_params"
    default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params"
    default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="force_abs_paths" default="false"/>

  <!-- Workcell options. These default to the visually reviewed assembly. -->
  <xacro:arg name="include_camera" default="true"/>
  <xacro:arg name="include_tactile_sensor" default="true"/>
  <xacro:arg name="include_cable_plugs" default="true"/>
  <xacro:arg name="include_table" default="true"/>
  <xacro:arg name="table_width" default="0.9"/>
  <xacro:arg name="table_length" default="1.5"/>
  <xacro:arg name="table_height" default="0.9"/>
  <xacro:arg name="table_robot_edge_offset" default="0.21"/>
  <xacro:arg name="articulated_gripper" default="true"/>
  <xacro:arg name="grasp_tcp_xyz"
    default="-0.05091168824543142 0.05091168824543142 0.275"/>
  <xacro:arg name="grasp_tcp_rpy" default="0 0 -0.7853981633974483"/>

  <!-- ros2_control arguments expected by the official UR driver. -->
  <xacro:arg name="transmission_hw_interface"
    default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="trajectory_port" default="50003"/>
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="initial_positions_file"
    default="$(find ur_description)/config/initial_positions.yaml"/>
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="tool_voltage" default="0"/>
  <xacro:arg name="tool_parity" default="0"/>
  <xacro:arg name="tool_baud_rate" default="115200"/>
  <xacro:arg name="tool_stop_bits" default="1"/>
  <xacro:arg name="tool_rx_idle_chars" default="1.5"/>
  <xacro:arg name="tool_tx_idle_chars" default="3.5"/>
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR"/>
  <xacro:arg name="tool_tcp_port" default="54321"/>
  <xacro:arg name="non_blocking_read" default="true"/>
  <xacro:arg name="robot_receive_timeout" default="0.04"/>
  <xacro:arg name="rw_rate" default="0"/>

  <xacro:include
    filename="$(find ur5_workcell_description)/urdf/ur5_workcell_macro.xacro"/>
  <xacro:include
    filename="$(find ur5_workcell_description)/urdf/workcell_environment.xacro"/>
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro"/>

  <xacro:property name="initial_positions_file_value"
    value="$(arg initial_positions_file)"/>

  <link name="world"/>
  <link name="$(arg tf_prefix)workcell_reference"/>
  <joint name="$(arg tf_prefix)workcell_reference_joint" type="fixed">
    <parent link="world"/>
    <child link="$(arg tf_prefix)workcell_reference"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <xacro:ur5_workcell
    name="$(arg name)"
    parent="$(arg tf_prefix)workcell_reference"
    tf_prefix="$(arg tf_prefix)"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="$(arg force_abs_paths)"
    include_camera="$(arg include_camera)"
    include_tactile_sensor="$(arg include_tactile_sensor)"
    include_cable_plugs="$(arg include_cable_plugs)"
    articulated_gripper="$(arg articulated_gripper)"
    grasp_tcp_xyz="$(arg grasp_tcp_xyz)"
    grasp_tcp_rpy="$(arg grasp_tcp_rpy)">
    <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
  </xacro:ur5_workcell>

  <xacro:if value="$(arg include_table)">
    <xacro:workcell_table
      parent="$(arg tf_prefix)workcell_reference"
      width="$(arg table_width)"
      length="$(arg table_length)"
      height="$(arg table_height)"
      robot_edge_offset="$(arg table_robot_edge_offset)"/>
  </xacro:if>

  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    kinematics_parameters_file="$(arg kinematics_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    headless_mode="$(arg headless_mode)"
    reverse_ip="$(arg reverse_ip)"
    script_command_port="$(arg script_command_port)"
    reverse_port="$(arg reverse_port)"
    script_sender_port="$(arg script_sender_port)"
    trajectory_port="$(arg trajectory_port)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    initial_positions="${xacro.load_yaml(initial_positions_file_value)}"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="$(arg tool_voltage)"
    tool_parity="$(arg tool_parity)"
    tool_baud_rate="$(arg tool_baud_rate)"
    tool_stop_bits="$(arg tool_stop_bits)"
    tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
    tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
    tool_device_name="$(arg tool_device_name)"
    tool_tcp_port="$(arg tool_tcp_port)"
    non_blocking_read="$(arg non_blocking_read)"
    robot_receive_timeout="$(arg robot_receive_timeout)"
    rw_rate="$(arg rw_rate)"/>
</robot>
