<?xml version="1.0"?>
<robot name="ur5_robotiq" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur5_robotiq)/urdf/ur5_robotiq_macro.xacro" />

  <!-- Instantiate full robot (sim by default) -->
  <xacro:ur5_robotiq
      name="ur5"
      tf_prefix=""
      use_sim="true"
      robot_ip="192.168.0.10"
  />

</robot>